
.header-top {
	background-color: black;
	color: #ffffff;
	font-size: 11px;
	padding: 10px 10px;
	font-weight: bold;
	text-align: center;
	display: flex;
	justify-content: space-around;
	/* flex-wrap: wrap; */
	
} 
.customer-care{
	margin-right:20px;
}
.span-gray{
	margin-right:8px;
	color:gray;
}
.icons-location{
	position: relative;
	margin-right:20px;
	
}
.header-icons{
	margin-right: 8px;
}
.header-top a{
	font-size: 12px;
	text-decoration: none;
	color:white;
	transition: color 200ms ease-in-out;
}
.header-top a:hover{
	color:gray;
}
.icons-mobile{
	margin-right:20px;
	
}
.header-top-right span:not(:last-child){
	margin-right:20px;

}
@media screen and (max-width:992px){
	.header-top{
		display:block;
		/* align-content: space-between; */
	}
	.header-top-right{
		margin-top:10px;
	}
}

